# Environment-specific paths for olcrestproxy
/env/dev/dev1/olcrestproxy/ @jiri-meluzin @jirka-meluzin-DEV
/env/dev/dev2/olcrestproxy/ @jiri-meluzin @jirka-meluzin-DEV
/env/prod/olcrestproxy/ @meluzin-jirka-gmail-com-PROD
/env/test/int/olcrestproxy/ @TestTeam
/env/test/sys2/olcrestproxy/ @TestTeam

# Environment-specific paths for anotherapp
/env/dev/dev1/anotherapp/ @jiri-meluzin @jirka-meluzin-DEV
/env/dev/dev2/anotherapp/ @jiri-meluzin @jirka-meluzin-DEV
/env/prod/anotherapp/ @meluzin-jirka-gmail-com-PROD
/env/test/int/anotherapp/ @TestTeam
/env/test/sys2/anotherapp/ @TestTeam

/helm/OLCRestProxy/ @jiri-meluzin @jirka-meluzin-DEV
/helm/AnotherApp/ @jiri-meluzin @jirka-meluzin-DEV

* @jiri-meluzin